.navbar-custom {
  background-color: #0473ea;
  color: white;
}

.navbar-custom .nav-link,
.navbar-custom .navbar-brand {
  color: white !important;
}

.account-card {
  border-radius: 12px;
  border: 2px solid #0473ea;
  padding: 10px;
  background-color: #ffffff;
  transition: transform 0.2s ease;
}

.account-card:hover {
  transform: scale(1.03);
}

.account-title {
  color: #38d200;
  font-weight: bold;
}

.access-btn {
  background-color: #0473ea;
  border: none;
}

.access-btn:hover {
  background-color: #025cc7;
}


<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
/>
